/* TODO:  *//* REDUCE WIDTH AND DISPLAY INLINE FOR INPUTS */

@media only screen and (min-width: 638px) {
  input.curr_input.form-control.mb-2{
    display: inline;
    width:250px;
  }
  select.curr_select_one.custom-select, select.curr_select_two.custom-select {
    display: inline;
    width:250px;
  }
  .display-box {
    display: inline;
  }
  input {
    margin-top: 25px;
  }
  .results {
    font-size: 18px;
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (max-width: 638px) {
  .display-box {
    display: grid;
  }
  .center-item {
    margin-left: auto;
    margin-right: auto;
  }
  input.curr_input.form-control.mb-2{
    width:250px;
  }
  select.curr_select_one.custom-select, select.curr_select_two.custom-select {
    width:250px;
  }
  .results {
    font-size: 10px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

body {
  background-color: #BCCCE0;
}
.cover-container {
  margin-top: 12%;
}


.results {
  margin-top: 50px;
  border-radius: 15px;
  padding: 15px;
  border: 2px solid rgb(243, 246, 246);
  border-radius: 10px;
  background-color: rgb(252, 252, 253);
  padding: 2% 2% 2% 0;
}

.fade-in-down {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
      0% {
         opacity: 0;
         -webkit-transform: translateY(-20px);
      }
      100% {
         opacity: 1;
         -webkit-transform: translateY(0);
      }
   }

 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
