/* TODO:  *//* REDUCE WIDTH AND DISPLAY INLINE FOR INPUTS */

@media only screen and (min-width: 592px) {
  input.curr_input.form-control.mb-2{
    display: inline;
    width:250px;
  }
  select.curr_select_one.custom-select, select.curr_select_two.custom-select {
    display: inline;
    width:250px;
  }
}

@media only screen and (max-width: 592px) {
  .display-box {
    display: grid;
  }
  .center-item {
    margin-left: auto;
    margin-right: auto;
  }
  input.curr_input.form-control.mb-2{
    width:250px;
  }
  select.curr_select_one.custom-select, select.curr_select_two.custom-select {
    width:250px;
  }
}
